      <div class="page-header">
        <h3><img src="images/logo-mycontroller.org_full.png" height="65" width="344"></h3>
      </div>

     <div class="jumbotron">
        <h1>Welcome to MyController.org Wiki <i class="fa fa-smile-o" style="vertical-align: middle;"></i>
        <br><b>Let's Have Fun!</b></h1>
        <p>
            MyController.org is a controller for the sensors world! Primarily focusing <a href="http://www.mysensors.org/">MySensors.org</a> project.
            </p> 
       </div>
    <div class="page-header">
        <h3><b>This Wiki is avaible in the following languages</b></h3>
       </div>
     <p>
         <ul type="circle">
          <li>Deutsch (DE)</li>
          <li>English (EN)</li>
          <li>தமிழ் (IN)</li>
          <li>Russian (RU)</li>
           </ul>
           <b><I>NOTE:</b> If you want to see MyController.org in your language please translate the original english language file to your needs.</I>
       </p>  
    
    
