      <div class="page-header">
        <h3><img src="images/logo-mycontroller.org_full.png" height="65" width="344"></h3>
      </div>

     <div class="jumbotron">
       <h1>Welcome to MyController.org Wiki <i class="fa fa-smile-o" style="vertical-align: middle;"></i>
       <br><b>Let's Have Fun!</b></h1>
       <p>
          MyController.org is a controller for the sensors world! Primarily focusing <a href="http://www.mysensors.org/">MySensors.org</a> project. Considered system resources in mind on development. Even we can run it on Raspberry PI very first model.
          <br>
          <b>What can you do with MyController.org?</b>
         </div>
     
    <div class="page-header">
        <h3><b>Wiki is avaible in the following languages</b></h3>
    </div>

    <p>
      
      <ul type="circle">
        <li>Deutsch (DE)</li>
        <li>English (EN)</li>
        <li>தமிழ் (IN)</li>
        <li>Russian (RU)</li>
      </ul>
      <b><I>NOTE:</b> If you want to see MyController.org in your language please translate the original english language file to your needs.</I>
      <h4><b>Supported Platforms (tested)</b></h4>
      MyController.org is java based application server. We can run it in any platform which supports Java.
      <ul type="circle">
        <li>Linux</li>
        <li>Windows</li>
        <li>Raspberry PI (Oracle Java recommend)</li>
      </ul>
    </p>  
    
    
